@import '../../../src/styles/base.scss';
.box {
    @include base_box(100%, 400px, 0px, 0px);
    flex: content;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    background-color: $bg_color;
}

.text {
    @include base_text();
    padding-top: 80px;
    font-size: 40px;
}

.sub_text {
    @include base_text();
    font-size: 25px;
}

.manage {
    color: white;
    font-family: monospace;
}

.icon_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px 0 10px;
}

.oauth_icon {
    margin: 0px 15px 0px 15px;
    cursor: pointer;
}